.container{
    min-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    row-gap: 80px;
    background-color: rgb(251, 251, 234);
}