.title{
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: black;

}
.visuallyHidden{
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.stats{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(240, 240, 240);
}
li{
    flex-basis: calc(100%/3);
    padding: 15px;
    gap: 7px;
}
.label{
    color:  rgb(130, 130, 130);
    font-size: 13px;

}
.quantity{
    font-size: 14px;
    font-weight: 700;
    color: black;
}