.statistics{
    max-width: 300px;
    width: 100%;
    font-size: 20px;
    color: rgb(72, 71, 71);
    background-color: white;
}
.title{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.stats-list{
    display: flex;
    justify-content: space-between;
    color: white;

    .item{
         padding-top: 10px; 
         padding-bottom: 10px; 
         gap: 10px;
    }
    .label{
        font-size: 16px;
    }    
    .percentage{
        font-size: 18px;
        font-weight: 700;
    }    
}
